.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  outline: none;
  width: 100%;
  z-index: 10;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 10;
  background: rgba(173, 183, 199, 0.53) !important;
}
.ReactModal__Body--open {
  overflow-y: hidden;
}
.ant-select-item-option {
  display: flex !important;
  gap: 5px !important;
}
.ant-select-item-option-content {
  display: flex !important;
  gap: 5px !important;
}
.ReactModal__Overlay {
  transition: opacity 500ms ease-in-out !important;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
.myoverlay {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(245, 240, 240, 0.54);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(17px);
  text-align: -webkit-center;
}
